*{
    margin: 0;
    height: 100%;
}
body{
    background-color: rgb(194, 141, 71);
}
.container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: rgb(245, 214, 214);
}
.container>p{
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 4em;
}
